<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
		<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Name</thscope="col">
				<th scope="col">DOB</th>
				<th scope="col">Department</th>
				<th scope="col">Approved</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="s:${students}">
				<td th:text="${s.id}"></td>
				<td th:text="${s.name}"></td>
				<td th:text="${s.dob}"></td>
				<td th:text="${s.department}"></td>
				<td th:text="${s.approved}"></td>
				<td>
					<button onclick="location.href='/update/{id}(id=${s.id})';">Update</button>
					<button onclick="location.href='/delete/{id}(id=${s.id})';">Delete</button>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>